<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Reviewer review component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-15 21:26:30 
 * Last modified  : 2021-11-19 19:32:35
 */
 -->
<ion-card>
    <app-panel-header
		*ngIf="isAssignee || isReviewer"
        [panelTitle]="stringKey.REVIEW_DETAILS"
        [panelIcon]="stringKey.ICON_ACTIVITY_REVIEW"
        [panelColor]="stringKey.COLOR_MEDIUM"
    >
    </app-panel-header>

	<app-panel-header
		*ngIf="isAdministrator"
        [panelTitle]="stringKey.REVIEW_DETAILS"
        [panelIcon]="stringKey.ICON_ACTIVITY_REVIEW"
        [panelColor]="stringKey.COLOR_MEDIUM"
		[eventIcon]="stringKey.ICON_ADD_SQUARE"
		[isEventRequired]="true"
		(event)="addReviewer()"
    >
    </app-panel-header>

    <!-- no data -->
    <app-no-data
        [reviewer]="true"
        *ngIf="!hasData"
        [text]="noDataText"
    ></app-no-data>
    <!-- no data -->

    <!-- data -->
    <div *ngIf="hasData">
        <div *ngFor="let reviewer of activityReviews">
			<app-panel-header
				*ngIf="isAssignee"
				[user]="getUser(reviewer)"
				[isInitials] = "true"
                [panelTitle]="
                    getUserFullName(
                        reviewer.reviewerUserFirstName,
                        reviewer.reviewerUserLastName
                    )
                "
                [panelIcon]="stringKey.ICON_REVIEWER"
                [panelColor]="stringKey.COLOR_LIGHT"
            >
            </app-panel-header>

			<app-panel-header
				*ngIf="isAdministrator || isReviewer"
				[user]="getUser(reviewer)"
				[isInitials] = "true"
                [panelTitle]="
                    getUserFullName(
                        reviewer.reviewerUserFirstName,
                        reviewer.reviewerUserLastName
                    )
                "
                [panelIcon]="stringKey.ICON_REVIEWER"
                [panelColor]="stringKey.COLOR_LIGHT"
                [eventIcon]="stringKey.ICON_MORE"
                [isEventRequired]="true"
                (event)="openReviewerOptions(reviewer)"
            >
            </app-panel-header>

            <!-- review lock administrator -->
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    reviewer.reviewLock === lockTypeEnum.Lock
                "
                [panelTitle]="stringKey.REVIEW_LOCK"
                [panelIcon]="stringKey.ICON_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
                [eventIcon]="stringKey.ICON_UN_LOCK"
                [isEventRequired]="true"
                (event)="unLockReview(reviewer)"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    reviewer.reviewLock === lockTypeEnum.Unlock
                "
                [panelTitle]="stringKey.REVIEW_UN_LOCK"
                [panelIcon]="stringKey.ICON_UN_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
                [eventIcon]="stringKey.ICON_LOCK"
                [isEventRequired]="true"
                (event)="lockReview(reviewer)"
            >
            </app-panel-header>
            <!-- review lock administrator -->

            <!-- review lock reviewer -->
            <app-panel-header
                *ngIf="
                    isReviewer &&
                    reviewer.reviewLock === lockTypeEnum.Lock
                "
                [panelTitle]="stringKey.REVIEW_LOCK"
                [panelIcon]="stringKey.ICON_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isReviewer &&
                    reviewer.reviewLock === lockTypeEnum.Unlock
                "
                [panelTitle]="stringKey.REVIEW_UN_LOCK"
                [panelIcon]="stringKey.ICON_UN_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
            >
            </app-panel-header>
            <!-- review lock reviewer -->

            <!-- review lock assignee -->
            <app-panel-header
                *ngIf="
                    isAssignee &&
                    reviewer.reviewLock === lockTypeEnum.Lock
                "
                [panelTitle]="stringKey.REVIEW_ASSIGNEE_LOCK"
                [panelIcon]="stringKey.ICON_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
            >
            </app-panel-header>
            <!-- review lock assignee -->

            <!-- result & comment -->
            <app-review-details
                *ngIf="isAdministrator || isReviewer"
                [reviewer]="reviewer"
            ></app-review-details>
            <app-review-details
                *ngIf="
                    isAssignee &&
                    reviewer.reviewLock === lockTypeEnum.Unlock
                "
                [reviewer]="reviewer"
            ></app-review-details>

            <!-- result & comment -->
        </div>
    </div>
    <!-- data -->
</ion-card>
