<ion-content lines="none" color="primary-gradient">
	<ion-grid lines="none">
		<ion-row justify-content-center lines="none">
			<!-- landing image -->
			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<img [src]="stringKey.IMAGE_LANDING" />
			</ion-col>
			<!-- landing image -->

			<!-- app tag -->
			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<h1>
					{{stringKey.APP_TAG_LINE}}
				</h1>
			</ion-col>
			<!-- app tag -->
			
			<!-- sign up -->
			<ion-col class="tag-gap" align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<ion-button expand="block" color="primary" [routerLink]="['/sign-up']">
					<ion-icon [src]="stringKey.ICON_SIGN_UP"></ion-icon>
					&nbsp; {{stringKey.SIGN_UP}}
				</ion-button>
			</ion-col>
			<!-- sign up -->
			
			<!-- hav account -->
			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<h3>
					{{stringKey.HAVE_ACCOUNT}}
				</h3>
			</ion-col>
			<!-- hav account -->

			<!-- sign in -->
			<ion-col  align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<ion-button expand="block" color="secondary" [routerLink]="['/sign-in']">
					<ion-icon [src]="stringKey.ICON_LOGIN"></ion-icon>
					<ion-label>&nbsp; {{stringKey.SIGN_IN}} </ion-label>
				</ion-button>
			</ion-col>
			<!-- sign in -->
			
		</ion-row>
	</ion-grid>
</ion-content>