<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title> {{stringKey.MY_PROJECT}} </ion-title>
		<ion-buttons slot="end" (click)="loadData()">
			<ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="stringKey.MY_PROJECT" [info]="stringKey.MY_PROJECT_INFO"></app-page-info-title>
	<!-- page title -->

	<!-- refresh btn -->
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<!-- refresh btn -->
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button color="dark" (click)="addProject()">
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- no data -->
	<app-no-data [project]=true *ngIf="!hasData" [text]="stringKey.NO_DATA_MY_PROJECT"></app-no-data>
	<!-- no data -->
	<ng-container *ngIf="hasData">
		<ion-grid>
			<ion-row>
				<ion-col size-lg="6" size-md="6" size-sm="6" size="12" *ngFor="let project of projects">
					<ion-card>
						<app-panel-header [panelTitle]="project.projectName" [panelIcon]="stringKey.ICON_PROJECT"
							[panelColor]="stringKey.COLOR_PRIMARY" [eventIcon]="stringKey.ICON_MORE"
							[isEventRequired]="true" (event)="openProjectOptions(project)"></app-panel-header>
						<app-custom-fields [description]="project.projectDescription">
						</app-custom-fields>
						<div>
							<ion-avatar *ngFor="let user of project.projectAdministrator.data">
								<span>{{getUserNameInitials(user?.userFirstName,user?.userLastName)}}</span>
							</ion-avatar>
							<ion-avatar *ngFor="let user of project.projectAssignees.data">
								<span>{{getUserNameInitials(user?.userFirstName,user?.userLastName)}}</span>
							</ion-avatar>
							<ion-avatar *ngFor="let user of project.projectReviewers.data">
								<span>{{getUserNameInitials(user?.userFirstName,user?.userLastName)}}</span>
							</ion-avatar>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ng-container>

	<!-- empty row -->
	<div id="dum-height"></div>
	<!-- empty row -->

</ion-content>
<ion-footer>
	<app-panel-header [panelTitle]="loggedInUserName" [panelIcon]="stringKey.ICON_USER"
		[panelColor]="stringKey.COLOR_SECONDARY" [eventIcon]="stringKey.ICON_LOGOUT" [isEventRequired]="true"
		(event)="logout()"></app-panel-header>
</ion-footer>