<ion-header [appScrollTracker] = 'scrollArea' >
  <ion-toolbar color="primary">
    <ion-title>
      {{stringKey.ACCOUNT_ACTIVATION}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
  <!-- page title -->
  <app-page-info-title [title]="stringKey.ACCOUNT_ACTIVATION" [info]="stringKey.ACCOUNT_ACTIVATION_INFO"></app-page-info-title>
  <!-- page title -->
  <form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
    <ion-grid lines="none">
      <ion-row justify-content-center lines="none">
        <ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4" offset-sm="4" lines="none">
          <!-- email -->
          <ion-card lines="none" color="light">
            <ion-item lines="none" color="light">
              <ion-label position="floating">{{stringKey.EMAIL}}</ion-label>
              <ion-input autocomplete="off" formControlName="userEmail" type="text" value="">
              </ion-input>
            </ion-item>
            <ion-card *ngIf="userEmail.invalid && userEmail.touched" color="warning">
              <ion-item color="warning">
                <ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
                {{stringKey.FORM_VALIDATION_EMAIL}}
              </ion-item>
            </ion-card>
          </ion-card>
          <!-- email -->

          <!-- code -->
          <ion-card lines="none" color="light">
            <ion-item lines="none" color="light">
              <ion-label position="floating">{{stringKey.VERIFICATION_CODE}}</ion-label>
              <ion-input autocomplete="off" formControlName="userActivationCode" type="text" value="">
              </ion-input>
            </ion-item>
            <ion-card *ngIf="userActivationCode.invalid && userActivationCode.touched" color="warning">
              <ion-item color="warning">
                <ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
                {{stringKey.FORM_VALIDATION_VERIFICATION_CODE}}
              </ion-item>
            </ion-card>
          </ion-card>
          <!-- code -->

          <!-- lost verification code -->
          <ion-card lines="none" color="primary-gradient">
            <ion-item lines="none" color="primary-gradient">
              <ion-label>{{stringKey.LOST_VERIFICATION_CODE}}</ion-label>
              <ion-button expand="block" color="tertiary" (click)=resendVerificationCode()>
                {{stringKey.RESEND}}
              </ion-button>
            </ion-item>
          </ion-card>
          <!-- lost verification code -->
          <!-- not active -->
          <ion-card lines="none" color="primary-gradient">
            <ion-item lines="none" color="primary-gradient">
              {{stringKey.ALREADY_ACTIVE}}
              <ion-button slot='end' expand="block" color="tertiary" [routerLink]="['/sign-in']">
                <ion-label>&nbsp; {{stringKey.SIGN_IN}}
                </ion-label>
              </ion-button>
            </ion-item>
          </ion-card>
          <!-- not active -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="default" expand="block" color="tertiary" (click)="goBack()">
            <ion-icon [src]="stringKey.ICON_CANCEL"></ion-icon>
            <ion-label>&nbsp; {{stringKey.CANCEL}} </ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="default" expand="block" color="primary" (click)="submit()">
            <ion-icon [src]="stringKey.ICON_ACTIVATE"></ion-icon>
            <ion-label>&nbsp; {{stringKey.ACTIVATE}} </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>