<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Assignee self review component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-15 21:21:25 
 * Last modified  : 2021-11-15 21:22:31
 */
 -->
<ion-card>
    <app-panel-header
        [panelTitle]="stringKey.ASSIGNEE_SELF_REVIEW"
        [panelIcon]="stringKey.ICON_SELF_REVIEW"
        [panelColor]="stringKey.COLOR_MEDIUM"
        [eventIcon]="stringKey.ICON_MORE"
        [isEventRequired]="allowAction"
        (event)="openActivityCommentOptions(activity)"
    >
    </app-panel-header>

    <!-- assignee -->
    <app-panel-header
		[user]="getUser(activity)"
		[isInitials] = "true"
        [panelTitle]="
            getUserFullName(
                activity.assigneeUserFirstName,
                activity.assigneeUserLastName
            )
        "
        [panelIcon]="stringKey.ICON_USER"
        [panelColor]="stringKey.COLOR_LIGHT"
    >
    </app-panel-header>
    <!-- assignee -->

    <!-- no data -->
    <app-no-data
        [comment]="true"
        *ngIf="!activity.commentDescription"
        [text]="stringKey.NO_DATA_COMMENT"
    ></app-no-data>
    <!-- no data -->

    <!-- assignee claim & comment -->
    <ion-grid>
        <ion-row>
            <!-- measurement type -->
            <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
                <ion-card>
                    <app-panel-header
                        [panelTitle]="stringKey.ACHIEVED_RESULT"
                        [panelIcon]="stringKey.ICON_CLAIM_RESULT"
                        [panelColor]="stringKey.COLOR_LIGHT"
                    >
                    </app-panel-header>
                    <app-custom-fields
                        *ngIf="activity.claimedResultValue"
                        [data]="showResult(activity)"
                    >
                    </app-custom-fields>
                    <ion-card *ngIf="activity.claimedResultValue">
                        <app-work-progress
                            [activity]="activity"
                            [resultValue]="activity.claimedResultValue"
                        >
                        </app-work-progress>
                    </ion-card>
                    <app-custom-fields
                        *ngIf="!activity.claimedResultValue"
                        [noData]="true"
                    ></app-custom-fields>
                </ion-card>
            </ion-col>
            <!-- measurement type -->

            <!-- weight -->
            <ion-col size-lg="8" size-md="8" size-sm="8" size="12">
                <ion-card>
                    <app-panel-header
                        [panelTitle]="stringKey.ASSIGNEE_COMMENT"
                        [panelIcon]="stringKey.ICON_COMMENT"
                        [panelColor]="stringKey.COLOR_LIGHT"
                    >
                    </app-panel-header>
                    <app-custom-fields
                        *ngIf="activity.commentDescription"
                        [data]="activity.commentDescription"
                    >
                    </app-custom-fields>
                    <app-custom-fields
                        *ngIf="!activity.commentDescription"
                        [noData]="true"
                    ></app-custom-fields>
                </ion-card>
            </ion-col>
            <!-- weight -->
        </ion-row>
    </ion-grid>
    <!-- assignee claim & comment -->
</ion-card>
