<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title>
			{{ pageTitle }}
		</ion-title>
		<ion-buttons slot="start">
			<ion-button fill="solid" color="dark" (click)="cancelModal()">{{
				stringKey.CANCEL
				}}</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button fill="solid" color="dark" (click)="submit()">{{
				stringKey.SAVE
				}}</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="pageTitle" [info]="stringKey.PROJECT_ADMIN_NOTE"></app-page-info-title>
	<!-- page title -->

	<!-- fab -->
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button color="dark" (click)="submit()">
			<ion-icon [src]="stringKey.ICON_SAVE"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- fab -->

	<form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
		<!-- Project name -->
		<ion-card color="secondary">
			<p>
				<ion-item color="secondary" lines="none">
					<ion-icon [src]="stringKey.ICON_CREATE" slot="start"></ion-icon>
					{{ stringKey.FORM_INFO_PROJECT_NAME }}
				</ion-item>
			</p>
			<ion-card lines="none" color="light">
				<ion-item lines="none" color="light">
					<ion-input [placeholder]="stringKey.FORM_PLACEHOLDER_PROJECT_NAME" autocomplete="off"
						formControlName="projectName" type="text">
					</ion-input>
				</ion-item>
				<ion-card *ngIf="projectName.invalid && projectName.touched" color="warning">
					<ion-item color="warning">
						<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
						{{ stringKey.FORM_VALIDATION_PROJECT_NAME }}
					</ion-item>
				</ion-card>
			</ion-card>
		</ion-card>
		<!-- Project name -->

		<!-- Project description -->
		<ion-card color="secondary">
			<p>
				<ion-item color="secondary" lines="none">
					<ion-icon [src]="stringKey.ICON_CREATE" slot="start"></ion-icon>
					{{ stringKey.FORM_INFO_PROJECT_DESCRIPTION }}
				</ion-item>
			</p>
			<ion-card lines="none" color="light">
				<ion-item lines="none" color="light">
					<ion-textarea [placeholder]="stringKey.FORM_PLACEHOLDER_PROJECT_DESCRIPTION" autocomplete="off"
						formControlName="projectDescription" type="text">
					</ion-textarea>
				</ion-item>
				<ion-card *ngIf="projectDescription.invalid && projectDescription.touched" color="warning">
					<ion-item color="warning">
						<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
						{{ stringKey.FORM_VALIDATION_PROJECT_DESCRIPTION }}
					</ion-item>
				</ion-card>
			</ion-card>
		</ion-card>
		<!-- Project description -->
	</form>
</ion-content>