<ion-card>
	<ion-item lines="none">
		<app-avatar [user]="leader" [icon]="stringKey.ICON_PEN"></app-avatar>
		<ion-label>
			<h1 class="leader-name">
				{{getUserFullName(leader?.userFirstName,leader?.userLastName)}}
			</h1>
			<h3 class="leader-note">{{leader?.userEmail}}</h3>
		</ion-label>
		<span slot="end" class="score" *ngIf="showScore && leader.userCredibilityScore">
			{{leader.userCredibilityScore}}
		</span>
		<span slot="end" class="score" *ngIf="showScore && !leader.userCredibilityScore">
			{{stringKey.NO_DATA_SHORT}}
		</span>
		<span slot="end" class="review" *ngIf="showReviewsCount">
			<span>{{reviews}}</span> {{stringKey.REVIEWS}}
		</span>
	</ion-item>
	<ion-progress-bar color="dark" buffer="1" [value]="((leader.userCredibilityScore / 100) * 1).toFixed(2)">
	</ion-progress-bar>
</ion-card>