<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title> {{stringKey.CREDIBILITY_BOARD}} </ion-title>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="loadData()">
			<ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->

<!-- header -->
<ion-content #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="stringKey.CREDIBILITY_BOARD" [info]="stringKey.CREDIBILITY_BOARD_INFO">
	</app-page-info-title>
	<!-- page title -->

	<!-- breadcrumb -->
	<app-breadcrumb [crumbs]="breadCrumb"></app-breadcrumb>
	<!-- breadcrumb -->

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<!--  project member -->
	<!-- no data -->
	<app-no-data [diversity]=true  *ngIf="!projectMemberModel?.projectAssignees?.success"
		[text]="stringKey.NO_DATA_DIVERSITY">
	</app-no-data>
	<!-- no data -->

	<ng-container *ngIf="projectMemberModel?.projectAssignees?.success">
		<app-leader [showScore]=true [leader]="projectAssignee" *ngFor="let projectAssignee of projectMemberModel?.projectAssignees?.data" (click)="goToCredibilityDetails(projectAssignee)"></app-leader>
	</ng-container>
	<!--  project member -->
</ion-content>