<ion-app>
	<ion-split-pane contentId="content">
		<ion-menu contentId="content" type="overlay">
			<ion-header lines="none" class="ion-no-border">
				<ion-menu-toggle auto-hide="false">
					<ion-item color="semi-dark" lines="none" (click)="viewProfile()">
						<div class="fav-icon1">
							<img src="assets/images/app_avatar.svg" />
						</div>
						<ion-item color="semi-dark" lines="none" class="segment">
							<h2>{{loggedInUser}}</h2>
						</ion-item>
					</ion-item>
				</ion-menu-toggle>
			</ion-header>

			<ion-content color="semi-dark-gradient">
				<ion-menu-toggle auto-hide="false">
					<ion-card (click)="gotoMyProjects()">
						<ion-item color="secondary" lines="none">
							<ion-icon name="arrow-back-outline"></ion-icon>
							<ion-label> {{stringKey.MY_PROJECT}} </ion-label>
						</ion-item>
					</ion-card>

					<ion-card *ngFor="let p of pages" color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_MENU" slot="start"></ion-icon>
							<ion-label> {{ p.title }} </ion-label>
						</ion-item>
						<ion-menu-toggle auto-hide="false">
							<ion-card *ngFor="let eachSubMenu of p.children" color="tertiary">
								<ion-item lines="none" color="dark" class="sub-item" (click)="gotoPage(eachSubMenu)"
									routerDirection="root" routerLinkActive="active">
									<ion-icon slot="start" [src]="eachSubMenu.icon"></ion-icon>
									{{ eachSubMenu.title }}
								</ion-item>
							</ion-card>
						</ion-menu-toggle>
					</ion-card>
				</ion-menu-toggle>
			</ion-content>
			<ion-footer>
				<ion-toolbar color="primary">
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-button expand="block" color="dark" (click)="presentLogoutAlertConfirm()">
									<ion-icon [src]="stringKey.ICON_LOGOUT"></ion-icon>
									<ion-label>&nbsp; {{stringKey.LOGOUT}} </ion-label>
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-toolbar>
			</ion-footer>
		</ion-menu>
		<ion-router-outlet id="content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>