<!-- header -->
<ion-header [appScrollTracker]='scrollArea'>
	<ion-toolbar color="primary">
		<ion-title>
			{{ pageTitle }}
		</ion-title>
		<ion-buttons slot="start">
			<ion-button fill="solid" color="dark" (click)="cancelModal()">{{
				stringKey.CANCEL
				}}</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="pageTitle" [info]="stringKey.GOAL_DETAIL_INFO"></app-page-info-title>
	<!-- page title -->

	<!-- fab -->
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button color="dark">
			<ion-icon [src]="stringKey.ICON_MORE"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button color="dark" (click)="submit()">
				<ion-icon [src]="stringKey.ICON_SAVE"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="dark" (click)="delete()">
				<ion-icon [src]="stringKey.ICON_DELETE"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
		<!-- Goal name -->
		<ion-card color="secondary">
			<p>
				<ion-item color="secondary" lines="none">
					<ion-icon [src]="stringKey.ICON_CREATE" slot="start"></ion-icon>
					{{stringKey.FORM_INFO_GOAL_NAME}}
				</ion-item>
			</p>
			<ion-card lines="none" color="light">
				<ion-item lines="none" color="light">
					<ion-input [placeholder]="stringKey.FORM_PLACEHOLDER_GOAL_NAME" autocomplete="off"
						formControlName="goalName" type="text">
					</ion-input>
				</ion-item>
				<ion-card *ngIf="goalName.invalid && goalName.touched" color="warning">
					<ion-item color="warning">
						<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
						{{stringKey.FORM_INFO_GOAL_NAME}}
					</ion-item>
				</ion-card>
			</ion-card>
		</ion-card>
		<!-- Goal name -->

		<!-- Goal description -->
		<ion-card color="secondary">
			<p>
				<ion-item color="secondary" lines="none">
					<ion-icon [src]="stringKey.ICON_CREATE" slot="start"></ion-icon>
					{{stringKey.FORM_INFO_GOAL_DESCRIPTION}}
				</ion-item>
			</p>
			<ion-card lines="none" color="light">
				<ion-item lines="none" color="light">
					<ion-textarea rows="5" [placeholder]="stringKey.FORM_PLACEHOLDER_GOAL_DESCRIPTION"
						autocomplete="off" formControlName="goalDescription" type="text">
					</ion-textarea>
				</ion-item>
				<ion-card *ngIf="goalDescription.invalid && goalDescription.touched" color="warning">
					<ion-item color="warning">
						<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
						{{stringKey.FORM_INFO_GOAL_DESCRIPTION}}
					</ion-item>
				</ion-card>
			</ion-card>
		</ion-card>
		<!-- Goal description -->
	</form>
</ion-content>