<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title> {{stringKey.PROJECT_ACTIVITY}} </ion-title>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="loadData()">
			<ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="stringKey.PROJECT_ACTIVITY" [info]="stringKey.ACTIVITY_INFO">
	</app-page-info-title>
	<!-- page title -->

	<!-- breadcrumb -->
	<app-breadcrumb [crumbs]="breadCrumb"></app-breadcrumb>
	<!-- breadcrumb -->

	<!-- refresh btn -->
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<!-- refresh btn -->
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button color="dark" (click)="addProjectActivity()">
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- refresh btn -->

	<!-- filter -->
	<ion-card (click)="openFilter()">
		<app-project-filter [filter]="filterModel" [filterExist]="filterExist"></app-project-filter>
	</ion-card>
	<!-- filter -->

	<!-- no data -->
	<app-no-data [activity]=true *ngIf="!hasData && filterExist" [text]="stringKey.NO_DATA_ACTIVITY"></app-no-data>
	<!-- no data -->

	<!-- data container -->
	<ng-container *ngIf="hasData">
		<ion-card *ngFor="let activity of activities">
			<!-- title -->
			<app-panel-header [panelTitle]="activity.activityName" [panelIcon]="stringKey.ICON_ACTIVITY"
				[panelColor]="stringKey.COLOR_PRIMARY" [eventIcon]="stringKey.ICON_MORE" [isEventRequired]="true"
				(event)="openActivityOptions(activity)">
			</app-panel-header>
			<!-- title -->

			<!-- activity grid -->
			<ion-grid>
				<ion-row>
					<!-- measurement type -->
					<ion-col size-lg="6" size-md="6" size-sm="6" size="12">
						<ion-card>
							<app-panel-header [panelTitle]="stringKey.MEASUREMENT_TYPE"
								[panelIcon]="stringKey.ICON_RESULT" [panelColor]="stringKey.COLOR_MEDIUM"
								eventIcon="stringKey.ICON_MORE">
							</app-panel-header>
							<app-custom-fields [data]="activity.activityResultType"></app-custom-fields>
						</ion-card>
					</ion-col>
					<!-- measurement type -->

					<!-- weight -->
					<ion-col size-lg="6" size-md="6" size-sm="6" size="12">
						<ion-card>
							<app-panel-header [panelTitle]="stringKey.WEIGHT_IN_P" [panelIcon]="stringKey.ICON_WEIGHT"
								[panelColor]="stringKey.COLOR_MEDIUM" eventIcon="stringKey.ICON_MORE">
							</app-panel-header>
							<app-custom-fields [data]="activity.activityWeight.toString()"></app-custom-fields>
						</ion-card>
					</ion-col>
					<!-- weight -->

					<!-- scale -->
					<ion-col>
						<app-measurement-scale [activity] = "activity"></app-measurement-scale>
					</ion-col>
					<!-- scale -->

					<!-- comment -->
					<ion-col size-lg="12" size-md="12" size-sm="12" size="12">
						<app-assignee-self-review [activity] = "activity" [allowAction]=false (event)="loadData()"></app-assignee-self-review>
					</ion-col>
					<!-- comment -->

				</ion-row>
			</ion-grid>
			<!-- activity grid -->
		</ion-card>
	</ng-container>
	<!-- data container -->

	<!-- empty row -->
	<div id="dum-height"></div>
	<!-- empty row -->
</ion-content>