<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Project sprint page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-25 15:11:50 
 * Last modified  : 2021-12-28 15:52:51
 */
 -->
<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
    <ion-toolbar color="primary">
        <ion-title> {{stringKey.PROJECT_SPRINT}} </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="loadData()">
            <ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
    <!-- page title -->
    <app-page-info-title
        [helpArticle]="apiUrls.HELP_SPRINT"
        [title]="stringKey.PROJECT_SPRINT"
        [info]="stringKey.PROJECT_SPRINT_INFO"
    >
    </app-page-info-title>
    <!-- page title -->

    <!-- breadcrumb -->
    <app-breadcrumb [crumbs]="breadCrumb"></app-breadcrumb>
    <!-- breadcrumb -->

    <!-- refresh btn -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- refresh btn -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button color="dark" (click)="addProjectSprint()">
            <ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- no data -->
    <app-no-data
        [sprint]="true"
        *ngIf="!hasData"
        [text]="errorMessage"
    ></app-no-data>
    <!-- no data -->
    <ng-container *ngIf="hasData">
        <ion-card
            *ngFor="let sprint of projectSprintModel?.projectSprints.data"
        >
            <app-panel-header
                [panelTitle]="sprint.sprintName"
                [panelIcon]="stringKey.ICON_DURATION"
                [panelColor]="stringKey.COLOR_MEDIUM"
                [eventIcon]="stringKey.ICON_MORE"
                [isEventRequired]="true"
                (event)="openSprintOptions(sprint)"
            ></app-panel-header>

            <!-- sprint start end status -->
            <ion-grid>
                <ion-row>
                    <ion-col
                        size-lg="9"
                        size-md="9"
                        size-xl="9"
                        size-sm="12"
                        size-xs="12"
                    >
                        <app-custom-fields
                            [sprintStartDate]="sprint.sprintStartDate"
                            [sprintEndDate]="sprint.sprintEndDate"
                        >
                        </app-custom-fields>
                    </ion-col>
                    <ion-col
                        size-lg="3"
                        size-md="3"
                        size-xl="3"
                        size-sm="12"
                        size-xs="12"
                    >
                        <ion-grid>
                            <ion-row>
                                <ion-col
                                    size-lg="12"
                                    size-md="12"
                                    size-xl="12"
                                    size-sm="6"
                                    size-xs="6"
                                >
                                    <ion-button
                                        color="success"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Active"
                                    >
                                        {{stringKey.STATUS}}
                                        &nbsp; <ion-icon [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon> &nbsp;
                                        {{sprint.sprintStatus}}
                                    </ion-button>
                                    <ion-button
                                        color="semi-dark"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Future"
                                    >
                                        {{stringKey.STATUS}}
                                        &nbsp; <ion-icon [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon> &nbsp;
                                        {{sprint.sprintStatus}}
                                    </ion-button>
                                    <ion-button
                                        color="warning"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Closed"
                                    >
                                        {{stringKey.STATUS}} 
                                        &nbsp; <ion-icon [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon> &nbsp;
                                        {{sprint.sprintStatus}}
                                    </ion-button>
                                </ion-col>
                                <ion-col
                                    size-lg="12"
                                    size-md="12"
                                    size-xl="12"
                                    size-sm="6"
                                    size-xs="6"
                                >
                                    <ion-button
                                        color="dark"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Active"
                                        (click)="underTheHoodEditProjectSprint(sprint, sprintStatusEnum.Closed, operationsEnum.Stop)"
                                    >
                                        <ion-icon [src]="stringKey.ICON_STOP"></ion-icon> &nbsp; 
                                        {{stringKey.END_SPRINT}}
                                    </ion-button>
                                    <ion-button
                                        color="dark"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Future"
                                        (click)="underTheHoodEditProjectSprint(sprint, sprintStatusEnum.Active, operationsEnum.Start)"
                                    >
                                        <ion-icon [src]="stringKey.ICON_START"></ion-icon> &nbsp; 
                                        {{stringKey.START_SPRINT}}
                                    </ion-button>
                                    <ion-button
                                        color="dark"
                                        expand="block"
                                        *ngIf="sprint.sprintStatus === sprintStatusEnum.Closed"
                                        (click)="underTheHoodEditProjectSprint(sprint, sprintStatusEnum.Active, operationsEnum.Start)"
                                    >
                                        <ion-icon [src]="stringKey.ICON_START"></ion-icon> &nbsp; 
                                        {{stringKey.RESUME_SPRINT}}
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!-- sprint start end status -->
        </ion-card>
    </ng-container>
</ion-content>
