<ion-content lines="none" color="primary-gradient">
	<ion-grid lines="none">
		<ion-row justify-content-center lines="none">
			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<img src="assets/images/app_landing.svg" />
			</ion-col>
			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<ion-button expand="block" color="secondary" [routerLink]="['/sign-in']">
					<ion-icon [src]="stringKey.ICON_LOGIN"></ion-icon>
					<ion-label>&nbsp; {{stringKey.SIGN_IN}} </ion-label>
				</ion-button>
			</ion-col>

			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">

				<h2>
					Already have an account?
				</h2>
				
			</ion-col>

			<ion-col align-self-center size="12" size-lg="4" size-md="4" size-sm="4" offset-lg="4" offset-md="4"
				offset-sm="4" lines="none">
				<ion-button expand="block" color="primary" [routerLink]="['/sign-up']">
					<ion-icon [src]="stringKey.ICON_SIGN_UP"></ion-icon>
					&nbsp; {{stringKey.SIGN_UP}}
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>