<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
    <ion-toolbar color="primary">
        <ion-title>
            {{ stringKey.SEARCH_USER }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button
                fill="outline"
                color="dark"
                slot="end"
                (click)="cancelModal()"
                >{{ stringKey.CLOSE }}</ion-button
            >
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
    <!-- page title -->
    <app-page-info-title
        [title]="stringKey.SEARCH_USER"
        [info]="stringKey.SEARCH_USER_INFO"
    ></app-page-info-title>
    <!-- page title -->

    <form>
        <ion-card class="card-no-shadow">
            <ion-button
                class="float-right"
                mode="ios"
                fill="solid"
                color="dark"
                (click)="sendInvitation()"
            >{{ stringKey.INVITE_USER }}</ion-button>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <!-- supplier name -->
                <ion-list>
                    <ion-item lines="none">
                        <ion-icon
                            color="tertiary"
                            slot="start"
                            [src]="stringKey.ICON_SEARCH"
                        ></ion-icon>
                        <ion-input
                            [placeholder]="stringKey.FORM_PLACEHOLDER_USER"
                            type="text"
                            [(ngModel)]="search"
                            name="search"
                        ></ion-input>
                        <ion-button
                            mode="ios"
                            slot="end"
                            fill="solid"
                            color="dark"
                            (click)="searchUser()"
                            >{{ stringKey.SEARCH }}</ion-button
                        >
                    </ion-item>
                </ion-list>
                <!-- Project name -->
            </ion-card-content>
        </ion-card>
    </form>

    <!-- no data -->
    <app-no-data
        [user]="true"
        *ngIf="!hasData"
        [text]="stringKey.NO_DATA_SEARCH"
    ></app-no-data>
    <!-- no data -->

    <ng-container *ngIf="hasData">
        <ion-card *ngFor="let user of users">
            <app-panel-header
                [user]="user"
                [isInitials]="true"
                [panelTitle]="user.userFirstName + ' ' + user.userLastName"
                [panelIcon]="stringKey.ICON_USER"
                [panelColor]="stringKey.COLOR_MEDIUM"
                [eventIcon]="stringKey.ICON_MORE"
                [isEventRequired]="true"
                (event)="openUserOptions(user)"
            ></app-panel-header>
            <app-custom-fields [email]="user?.userEmail"> </app-custom-fields>
        </ion-card>
    </ng-container>
</ion-content>
