<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Project activity review page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-15 21:30:56 
 * Last modified  : 2021-12-28 15:48:49
 */
 -->
<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
    <ion-toolbar color="primary">
        <ion-title> {{stringKey.ACTIVITY_REVIEW}} </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="loadData()">
            <ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
    <!-- page title -->
    <app-page-info-title
        [helpArticle]="apiUrls.HELP_ACTIVITY"
        [title]="stringKey.ACTIVITY_REVIEW"
        [info]="stringKey.ACTIVITY_REVIEW_INFO"
    >
    </app-page-info-title>
    <!-- page title -->

    <!-- refresh btn -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- refresh btn -->

    <!-- no data -->
    <app-no-data
        [credibility]="true"
        *ngIf="!hasData"
        [text]="stringKey.HOLD_TIGHT"
    ></app-no-data>
    <!-- no data -->

    <!-- data container -->
    <ng-container *ngIf="hasData">
        <!-- title -->
        <ion-card>
			<app-panel-header
				*ngIf="!isAdministrator"
                [panelTitle]="activity.activityName"
                [panelIcon]="stringKey.ICON_ACTIVITY"
                [panelColor]="stringKey.COLOR_SECONDARY"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    activity.activityLocked === lockTypeEnum.Lock
                "
                [panelTitle]="activity.activityName"
                [panelIcon]="stringKey.ICON_ACTIVITY"
                [panelColor]="stringKey.COLOR_SECONDARY"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    activity.activityLocked === lockTypeEnum.Unlock
                "
                [panelTitle]="activity.activityName"
                [panelIcon]="stringKey.ICON_ACTIVITY"
                [panelColor]="stringKey.COLOR_SECONDARY"
                [eventIcon]="stringKey.ICON_EDIT"
                [isEventRequired]="true"
                (click)="editProjectActivity(activity)"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    activity.activityLocked === lockTypeEnum.Unlock
                "
                [panelTitle]="stringKey.ACTIVITY_UN_LOCK"
                [panelIcon]="stringKey.ICON_UN_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
                [eventIcon]="stringKey.ICON_LOCK"
                [isEventRequired]="true"
                (click)="lockUnlockActivity(activity, lockTypeEnum.Lock)"
            >
            </app-panel-header>
            <app-panel-header
                *ngIf="
                    isAdministrator &&
                    activity.activityLocked === lockTypeEnum.Lock
                "
                [panelTitle]="stringKey.ACTIVITY_LOCK"
                [panelIcon]="stringKey.ICON_LOCK"
                [panelColor]="stringKey.COLOR_INFO"
                [eventIcon]="stringKey.ICON_UN_LOCK"
                [isEventRequired]="true"
                (click)="lockUnlockActivity(activity, lockTypeEnum.Unlock)"
            >
            </app-panel-header>

        </ion-card>

        <!-- title -->

        <!-- sprint -->
        <ion-card>
            <app-panel-header
                [panelTitle]="activity.sprintName"
                [panelIcon]="stringKey.ICON_SPRINT"
                [panelColor]="stringKey.COLOR_MEDIUM"
            >
            </app-panel-header>
        </ion-card>
        <!-- sprint -->

        <!-- goal -->
        <ion-card>
            <app-panel-header
                [panelTitle]="activity.goalName"
                [panelIcon]="stringKey.ICON_GOAL"
                [panelColor]="stringKey.COLOR_MEDIUM"
            >
            </app-panel-header>
        </ion-card>
        <!-- goal -->

        <!-- activity grid -->
        <ion-grid>
            <ion-row>
                <!-- measurement type -->
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-card>
                        <app-panel-header
                            [panelTitle]="stringKey.MEASUREMENT_TYPE"
                            [panelIcon]="stringKey.ICON_RESULT"
                            [panelColor]="stringKey.COLOR_MEDIUM"
                        >
                        </app-panel-header>
                        <app-custom-fields
                            [data]="activity.activityResultType"
                        ></app-custom-fields>
                    </ion-card>
                </ion-col>
                <!-- measurement type -->

                <!-- weight -->
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-card>
                        <app-panel-header
                            [panelTitle]="stringKey.WEIGHT_IN_P"
                            [panelIcon]="stringKey.ICON_WEIGHT"
                            [panelColor]="stringKey.COLOR_MEDIUM"
                            eventIcon="stringKey.ICON_MORE"
                        >
                        </app-panel-header>
                        <app-custom-fields
                            [data]="activity.activityWeight.toString()"
                        ></app-custom-fields>
                    </ion-card>
                </ion-col>
                <!-- weight -->

                <!-- scale -->
                <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
                    <app-measurement-scale
                        [activity]="activity"
                    ></app-measurement-scale>
                </ion-col>
                <!-- scale -->

                <!-- comment -->
                <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
                    <app-assignee-self-review
                        [activity]="activity"
                        [allowAction]="true"
                        (event)="loadData()"
                    >
                    </app-assignee-self-review>
                </ion-col>
                <!-- comment -->

                <!-- reviewer -->
                <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
                    <app-reviewer-review
                        [userType]="userType"
                        [activityReviews]="activityReviews"
                        [hasData]="hasReviewsData"
                        [allowAction]="true"
                        (event)="loadData()"
                    ></app-reviewer-review>
                </ion-col>
                <!-- reviewer -->
            </ion-row>
        </ion-grid>
        <!-- activity grid -->
    </ng-container>
    <!-- data container -->

    <!-- empty row -->
    <!-- <div id="dum-height"></div> -->
    <!-- empty row -->
</ion-content>
